body,html {
  margin: 0px !important;
  padding: 0px !important;
}
/*Background Image URl*/
body {
  background: url('../img/background.png');
  -webkit-animation: backgroundScroll 12s linear infinite;
  animation: backgroundScroll 12s linear infinite;
  width: 100%;
  height: 100%;
}

@font-face {
    font-family: handycheera;
    src: url(../fonts/handy_cheera.woff);
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -3820px 0;}
}

@keyframes backgroundScroll {
from {background-position: 0 0;}
to {background-position: -3820px 0;}
}

a {
  text-decoration: none !important;
}
.top_ren_container {
  width: 100%;
  position: relative;
}
.ren_focus_container{
  width: 100%;
}
.ren_bottom_container{
  width: 100%;
}
.center_container_box{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/*Css For Animated Elements*/
.animated_elements{
  position: absolute;
  height: 100%;
  width: 98%;
  z-index: 10/*Change to 10*/;
}
.plane{
  background: url('../img/sprite.png');
  background-position: -44px -173px;
  height: 57px;
  width: 71px;
  top: 133px;
  left: -2px;
  position: absolute;
}
.hot_balloon {
  background: url('../img/sprite.png');
  background-position: -28px -19px;
  height: 53px;
  width: 54px;
  position: absolute;
  right:20px;
  top:10px;
}
.sun {
  background: url('../img/sprite.png');
  background-position: -165px -154px;
  height: 95px;
  width: 108px;
  position: absolute;
  top:10px;
  left: 160px;
}
.meteor {
  background: url('../img/sprite.png');
  background-position: -130px -13px;
  height: 103px;
  width: 163px;
  position: absolute;
  right:230px;
  top:10px;
}
.helium_balloon {
  bottom: 0px;
  background: url('../img/sprite.png');
  background-position: -292px -60px;
  height: 156px;
  width: 118px;
  right:20px;
  position: absolute;
}

.floating_banner {
  background: url('../img/sprite.png');
  background-position: -25px -564px;
  height: 113px;
  width: 447px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.renaissance_logo {
  background: url('../img/sprite.png');
  background-position: -368px -499px;
  height: 59px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 321px;
}

.renaissance_date {
  font-size: 14px;
  font-weight: 700;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 164px;
}

.college_logo {
  background: url('../img/sprite.png');
  background-position: -487px -53px;
  float: left;
  width: 140px;
  height: 111px;
}

.event_brand_partner {
  background: url('../img/sprite.png');
  background-position: -459px -180px;
  float: left;
  height: 72px;
  margin-top: 18px;
  width: 185px;
}

.middle_text {
  float: left;
  font-weight: 700;
  margin-left: 11px;
  margin-right: 32px;
  margin-top: 44px;
}

.earth_menu_block {
  margin-top: 22px;
}

.rotating_ren_earth {
  background: url('../img/sprite.png');
  background-position: -11px -278px;
  height: 284px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 290px;
}

.menu_ren_play_button {
  background: url('../img/sprite.png');
  background-position: -324px -294px;
  height: 57px;
  width: 56px;
  position: absolute;
  cursor: pointer;
  left: 49%;
  transform: translateX(-50%);
  top: 37%;
}

.prize_icon {
  background: url('../img/sprite.png');
  background-position: -324px -402px;
  height: 82px;
  width: 82px;
}
.sponsors {
  height: 108px;
  margin: 0 auto;
  padding-top: 18px;
  width: 394px;
}
.present_text {
  color: #505050;
  font-weight: 700;
  height: 60px;
  margin-top: 23px;
  margin: 0 auto;
  padding-top: 18px;
  width: 394px;
}
.renaissance_tagline {
  font-family: handycheera;
  padding-left: 6px;
  color: #505050;
  height: 52px;
  margin: 0px auto 8px auto;
  padding-top: 18px;
  width: 285px;
  font-size: 19px;
}

.ren_social_buttons{
  float: right;
}

.ren_share_circle {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #F00 none repeat scroll 0% 0%;
  padding: 20px 22px;
  color: #FFF;
  font-size: 20px;
  margin-right: 10px;
}

.prize_bar{
  float:left;
  margin-left: 10px;
}

.prize_icon{
  float: left;
}

.prize_text{
  float:left;
  padding: 10px;
}
